<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
      <% if (locals.blog) { %>
      <div class="card" style="width: 700px">
        <img
          src="<%= blog.coverImgUrl %>"
          class="card-img-top"
          alt="Blog image"
        />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text"><%= blog.body %></p>
          <p class="card-text">
            <img
              src="<%= blog.createdBy.profileImgUrl %>"
              width="30px"
              alt=""
            /><%= blog.createdBy.fullName %>
          </p>
        </div>
        <div class="container mt-4">
          <h3>Comments (<%=locals.comments.length %>)</h3>
          <% if (locals.user) { %>
          <form action="/blog/comment/<%=blog._id  %>" method="post">
            <div class="row mb-3">
              <div class="col-sm-10">
                <input
                  type="content"
                  class="form-control"
                  name="content"
                  id="content"
                  placeholder="Enter Your Comment"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
          <% } %> <% if (locals.comments) { %>
          <div class="container">
            <% comments.forEach(comment => { %>
            <div class="mt-3">
              <img
                src="<%=comment.createdBy.profileImgUrl  %>"
                alt=""
                width="30px"
              /><%= comment.createdBy.fullName %>
              <p><%= comment.content %></p>
            </div>
            <% }) %>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
