<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container">
      <div class="row row-cols-4">
        <% allBlog.forEach(blog => { %>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="<%= blog.coverImgUrl %>"
              class="card-img-top"
              alt="Blog image"
            />
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.body %></p>
            </div>
            <div class="card-body">
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
